<!doctype html>
<title>{% block title %}{% endblock %} - PrivateOffice</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='functions.js') }}"></script>
<head>
  {% block head %}{% endblock %}
</head>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>