{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}File creation{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="docs">
    <form method="post" style="text-align: center;">
        <input type="text" name="filename" style="margin-bottom: 5px; width: 250px; height: 30px;"></br>
        <select id="file_type" name="file_type" style="margin-bottom: 7px; width: 180px; height: 20px; text-align: center;">
          <option value=".st">Sheet</option>
          <option value=".doc">Document</option>
        </select></br>
        <input type="submit" value="Create" class="button">
    </form>
  </div>
{% endblock %}