{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="file_select_parent">
    <div class="file_select">
      <a href="/create_file" style="font-weight: bolder; float: right; font-size: large; margin-top: 1.5px;">+</a>
      <h2>Documents</h2>
      <div style="padding-left: 15px;">
          <ul>
              {% for file_name in doc_names %}
                  <li><a href="{{ url_for('view_document', filename=file_name) }}">{{ file_name }}</a></li>
              {% endfor %}
          </ul>
      </div>
    </div>
    <div class="file_select">
      <a href="/create_file" style="font-weight: bolder; float: right; font-size: large; margin-top: 1.5px;">+</a>
      <h2>Sheets</h2>
      <div style="padding-left: 15px;">
          <ul>
              {% for file_name in sheet_names %}
                  <li><a href="{{ url_for('view_sheet', filename=file_name) }}">{{ file_name }}</a></li>
              {% endfor %}
          </ul>
      </div>
    </div>
  </div>
{% endblock %}